*,
*::before,
*:after {
    box-sizing: border-box;
}

/* Custom Properties, update these for your own design */

:root {
    --ff-primary: "Source Sans Pro", sans-serif;
    --ff-secondary: "Source Code Pro", monospace;
  
    --fw-reg: 300;
    --fw-bold: 900;
  
    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-accent: #035ee7;
  
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.125rem;
    --fs-body: 1rem;
  
    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
  }
  
@media (min-width: 800px) {
    :root {
      --fs-h1: 4.5rem;
      --fs-h2: 3.75rem;
      --fs-h3: 1.5rem;
      --fs-body: 1.125rem;
    }
  }

/* General Styles */
html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

/* Typography */

strong { font-weight: var(--fw-bold);}

.btn {
  display: inline-block;
  padding: 1em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 { font-size: var(--fs-h1); }
h2 { font-size: var(--fs-h2); }
h3 { font-size: var(--fs-h3); }

.section__title {
  margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--fw-reg);
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
  color: var(--clr-light);
}

.section__subtitle--intro,
.section__subtitle--about {
    background: var(--clr-accent);
    font-family: var(--ff-secondary);
    padding: .25em 1em;
    margin-bottom: 1em;
}

.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

.section__description--work {
  font-style: italic;
}

/* header */
.logo {
  max-width: 20em;
}

.nav { 
  position: relative;
  background: var(--clr-light);
  color: var(--clr-accent);
  justify-content: center;
}

.nav__list {
  text-align: center;
}

.nav__item {
  list-style: none;
  display: inline-block;
  align-items: center;
  justify-content: center;
  margin: 0 1em;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  text-decoration: none;
  display: block;
}

.nav__link:hover {
  color: var(--clr-dark);
}

@media (min-width: 900px) {
  .nav-toggle {
    display: none;
  }
}

@media (max-width: 900px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
  }

  .nav {
    position: fixed;
    background: var(--clr-dark);
    color: var(--clr-light);    
    width: max-content;
    height: max-content;
    padding: 10% 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 120;
    right: 0;
    z-index: 100; 
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
  }

  .nav__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items:center;
    width: 20em;
    margin: 0;
    padding: 0;
  }

  .nav__link {
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
    display: block;
    padding: 10% 0;
  }

  .nav__link:hover {
    color: var(--clr-accent);
  }

  .hamburger {
    display: block;
    position: relative;
  }

  .hamburger,
  .hamburger::before,
  .hamburger::after {
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform, 250ms ease-in-out;
  }

  .hamburger::before,
  .hamburger::after {
     content: "";
     position: absolute;
     left: 0;
     right: 0;
   }

   .hamburger::before {
    top: 6px;
   }

   .hamburger::after {
    bottom: 6px;
   }

   .nav-toggle {
    padding: .5em;
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
   }
}

.nav-open .nav {
  transform: rotateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

/* Intro Section */
.intro {
  position: relative;
}

.intro__img {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas: 
      "img title"
      "img subtitle";
    grid-template-columns: 
      min-content max-content;
  }

  .intro__img {
      grid-area: img;
      min-width: 250px;
      position: relative;
      z-index: 2;
  }

  .section__subtitle--intro {
      align-self: flex-start;
      grid-column: -1 / 1;
      grid-row: 2;
      text-align: right;
      position: relative;
      left: -1.5em;
      width: calc(100% + 1.5em);@media (min-width: 600px) {
        .intro {
          display: grid;
          width: min-content;
          margin: 0 auto;
          grid-column-gap: 1em;
          grid-template-areas: 
              "img title"
              "img subtitle";
              grid-template-columns: min-content max-content;
        }
    
        .intro__img {
            grid-area: img;
            min-width: 250px;
            position: relative;
            z-index: 2;
        }
    
        .section__subtitle--intro {
            align-self: flex-start;
            grid-column: -1 / 1;
            grid-row: 2;
            text-align: right;
            position: relative;
            left: -1.5em;
            width: calc(100% + 1.5em);
        }
    }
  }
}

/* My skills section */
.my-skills {
  background-color: var(--clr-dark);
  background-image: url();
  background-size: cover;
  color: var(--clr-light);
  text-align: center;
}

.section__title--skills {
  color: var(--clr-accent);
  position: relative;
  justify-content: center;
}

.section__title--skills::after {
  content: '';
  display: block;
  width: 3em;
  height: 1px;
  margin: 1.0em auto 1em;
  background: var(--clr-light);
}

@media (min-width: 800px) {
  .skills {
    display: flex;
    width: auto;
    justify-content: center;
    margin: 0 auto;
  }

  /* the "+" operator looks at the */
  .skill + .skill {
    margin-left: 5em;
  }
}

/* About Me section */
.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

.about-me__img {
  box-shadow: var(--bs);
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 2fr;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2em;
  }

  .section__title--about {
    grid-area: title;
  }

  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
  }

  .about-me__title {
    margin-bottom: 1.5em;
  }

  .about-me__description {
    inline-size: 75%;
    margin: auto;
    overflow-wrap: break-word;
  }
}

/* My Work */
.my-work {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  text-align: center;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 400px;
  grid-gap: 2em;
}

.portfolio__item {
  overflow: hidden;
}

.portfolio__img {
  transition: 
  transform 750ms cubic-bezier(.5, 0, .5, 1)
  opacity 250ms linear;
}

.portfolio__img:hover {
  transform: scale(1.2);
  opacity: .75;
}

/* footer */
.footer {
  background: #111;
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.footer__link:hover,
.social-list__link:hover {
  opacity: .7;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}
.social-list__item {
  margin: 0 .5em;
}

.social-list__link {
  padding: .5em;
}

.card {
  box-shadow: 0 4px 8px 0 rgb(248, 248, 248, 2);
  background: var(--clr-light);
  color: var(--clr-dark);
  padding: 3rem;
  margin-bottom: 1rem;
  min-width: 20em;
  min-height: 27rem;
}

.card__heading {
  margin-bottom: .5em;
}

.card__heading::after {
  content: '';
  display: block;
  width: 3em;
  height: 1px;
  margin: 1.0em auto 1em;
  background: var(--clr-accent);
}

.card__list {
  list-style: none;
  padding: 0;
  margin: 0;
}



.my-experience-timeline {
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

.container {
	width: 100%;
	max-width: 1140px;
	padding: 0 15px;
	box-sizing: border-box;
	margin: 0 auto;
}
.timelines h2 {
	text-align: center;
	color: #fff;
	font-weight: 600;
	margin-bottom: 40px;
	font-size: 32px;
}
.d-flex-2 {
	display: flex;
	align-items: center;
}
.timeline-area {
	padding: 80px 0;
}
.all-timelines {
	position: relative;
}
.timelines h2 {
	text-align: center;
	color: #fff;
	font-weight: 600;
	margin-bottom: 40px;
}
.all-timelines::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	height: 100%;
	width: 2px;
	background: var(--clr-accent);
	top: 20px;
}
.single-timeline {
	margin-bottom: 22px;
}
.timeline-blank {
	width: 50%;
}
.timeline-text {
	width: 50%;
	padding-left: 30px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}
.timeline-text h6 {
	color: #f0f1f2;
	font-weight: 900;
	display: inline-block;
	font-size: 1rem;
}
.timeline-text span {
	color: #f0f1f2;
	display: block;
	width: 100%;
}
.single-timeline:nth-child(even) .timeline-text span {
	text-align: right;
}
.t-square {
	content: "";
	position: absolute;
	width: 12px;
	height: 12px;
	left: -6px;
	background: var(--clr-accent);
}
.single-timeline:nth-child(even) {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-ms-flex-direction: row-reverse;
	flex-direction: row-reverse;
}
.single-timeline:nth-child(even) .t-square {
	right: -6px;
	left: unset;
}
.single-timeline:nth-child(even) .timeline-text {
	padding-left: 0;
	padding-right: 30px;
	text-align: right;
}

@media all and (max-width: 991px) {
}
@media all and (max-width: 768px) {
	.all-timelines::before {
		right: unset;
		top: 0;
	}
	.single-timeline:nth-child(2n) .timeline-text {
		padding-left: 30px;
		padding-right: 0;
		text-align: left;
	}
	.single-timeline:nth-child(2n) .t-square {
		left: -6px;
		right: unset;
	}
	.timeline-blank {
		display: none;
	}
	.timeline-text {
		width: 100%;
	}
	.single-timeline:nth-child(even) .timeline-text span {
		text-align: left !important;
	}
}
@media all and (max-width: 575px) {
}
@media all and (max-width: 360px) {
	.all-timelines::before {
		top: 32px;
	}
}